.custom-picture-button {
  position: fixed;
  bottom: 0;
  right: 48px;
  z-index: 99;
  width: 164px;
}
.header-button {
  bottom: 118px;
  right: 48px;
}
.custom-picture-button:hover, .header-button:hover {
  img{
    content: url('../images/btn.png');
  }
}

.triangle {
  margin: -2px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #3A3A3a;
  position: relative;

  span {
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid white;
    position: absolute;
    left: -8px;
    top: -10px;
  }
}